# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Entornos Virtuales
venv/
.venv/
env/
.env/

# Archivos de configuración de IDEs
.idea/
.vscode/

# Archivos de Sistema Operativo
.DS_Store
Thumbs.db

# Archivos de Documentos, Binarios y Comprimidos (no suelen subirse)
*.pdf
*.txt
*.exe
*.zip
*.rar